/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/* VARIABILI */
:root {
    --bg: #f1f1f1d8;
    --text: #222;
    --accent: #d63f3f;
    --border: #d3d3d3;
    --table-header-bg: #f2f2f2;
    --bg-image: url('images/lightmodebg.png');
    --header-shadow: rgba(0, 0, 0, 0.08);
    --empty-img: url('images/heresemptylight.png');
    --box-border: #000200da;
}

/* DARK MODE */
.dark-theme {
    --bg: #1a1a1ae8;
    --text: #f2f2f2;
    --accent: #ff5f5f;
    --border: #555;
    --table-header-bg: #2a2a2a;
    --bg-image: url('images/darkmodebg.png');
    --header-shadow: rgb(255 255 255 / 8%);
    --empty-img: url('images/heresemptydark.png');
    --box-border: #d9d8d7ee;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: var(--bg);
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text);
    height: 100%;
    min-height: 100vh;

}

/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 3px 10px var(--header-shadow);
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

#header h3 {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    #header {
        padding: 0 35px;
        height: 80px;
    }

    #header h3 {
        font-size: 1.1rem;
        gap: 10px;
    }

    #header h3 i {
        font-size: 22px !important;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}


#header .checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.fa-moon {
    color: #f1c40f;

}

.fa-sun {
    color: #f39c12;

}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;

}


.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);

}


#main-form {
    width: 70%;
    height: 90vh;
    margin: 0 auto;

}

.container {
    height: 40%;
    width: 100%;
    margin-top: 40px;

}

.san-valentino {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.062);
    border: 3px solid var(--box-border);
}

.pasqua {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='%23000200' stroke-width='5' stroke-dasharray='15%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty-image {
    max-width: 80%;
    max-height: 80%;
    content: var(--empty-img);
}

.dark-theme .pasqua {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='25' ry='25' stroke='%23D9D8D7' stroke-width='5' stroke-dasharray='15%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

/* TITOLI */
h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* PARAGRAFI */
p {
    margin: 10px 0 20px;
    font-size: 18px;
    color: var(--text);
}

/* MAPPA */
#mappa {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* TABELLA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
}

th,
td {
    border: 2px solid var(--border);
    padding: 12px;
    text-align: center;
}

th {
    background-color: var(--table-header-bg);
    font-weight: 600;
}

td {
    background-color: var(--bg);
}